body{
    background-color: rgb(25, 27, 27);
    margin: 0em;
    padding: 0em;
    color: white;
}
header{
    height: 70px;
    background-color: rgb(22, 32, 36);
    margin-top: 0px;
}
ul{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
/* h1{
    background-color: rgb(36, 143, 185);
    text-align: center;   
    height: 80px; 
    margin-top: 10px;
} */
li{
    display: inline;
}
a{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none;
    border: 3px solid black;
    padding: 8px 30px;
}
a:hover{
    background-color: black;
    color: white;
}
.logo{
    display: flex;
}
span{
    font-size: 42px;
}
p{
    color: aliceblue;
}